*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
.App{
  display: flex;
  justify-content: center;
  font-size: 25px;
  flex-direction: column;
}
.TitleSection{
  background-color: #5db9ff;
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.TitleSection input{
  width: 200px;
  height: 40px;
  border: 1px solid #5db9ff;
  border-radius: .5rem;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button{
  width: 200px;
  height: 40px;
  border: 1px solid #5db9ff;
  border-radius: .5rem;
  font-size: 18px;
  padding-left: 10px;
}

.DisplaySection{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}